* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

main {
    display: flex;
    flex-direction: row;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
    overflow: hidden;
}

.card-info {
    display: grid;
    width: 540px;
    padding: 50px 100px 50px 70px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
}

span {
    color: hsl(277, 64%, 61%);
}

h2 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.main-p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 28px;
    line-height: 1.8;
}

.card-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    line-height: 1.5;
    width: 90%;
}

.stat-p {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.card-image {
    max-height: 446px;
    background: hsl(277, 64%, 61%);
    filter: brightness(70%) contrast(110%) saturate(120%);
}

img {
    object-fit: cover;
    opacity: 0.5;
}

.card-desktop {
    width: 540px;
}

.card-mobile {
    display: none;
}

.attribution {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

@media (max-width: 720px) {
    body {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .container {
        width: 80vw;
        height: auto;
        margin-top: 220px;
    }

    main {
        flex-direction: column-reverse;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .card-desktop {
        display: none;
    }

    .card-mobile {
        display: flex;
    }

    .card-info {
        width: 100%;
        padding: 25px;
    }

    h1 {
        font-size: 1.6em;
    }

    .main-p {
        font-size: 0.9em;
        margin-top: 12px;
    }

    h2 {
        margin-top: 30px;
    }

    .card-stats {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .attribution {
        font-size: 0.8em;
        position: relative;
        margin-top: 15px;
    }
}